#######################################################
# Support for multiple mirrors is somewhat incomplete #
#    Uncomment only one mirror from the list bellow   #
#######################################################

# PORTAGE_BINHOST="http://mirror.math.princeton.edu/pub/redcorelinux/packages/"

PORTAGE_BINHOST="http://mirror.alpix.eu/redcorelinux/packages/"

# PORTAGE_BINHOST="http://mirror.yandex.ru/mirrors/redcorelinux/packages/"

